<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Anagrams.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Anagrams.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="LetterPoolMode" value="0"/>
    <add key="LetterPoolCount" value="10"/>
    <add key="BonusTime" value="15"/>
    <add key="BonusWords" value="7"/>
    <add key="MinimumLettersPerWord" value="3"/>
    <add key="TimerMode" value="0"/>
    <add key="SecondsPerLetter" value="10"/>
    <add key="StaticSeconds" value="60"/>
    <add key="PlaySounds" value="1" />
    <add key="AllowRepeatedWords" value="0" />
    <add key="ShowInstructions" value="1" />
  </appSettings>
  <userSettings>
    <Anagrams.Properties.Settings>
      <setting name="LetterPoolMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LetterPoolCount" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="BonusTime" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="BonusWords" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="MinimumLettersPerWord" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="TimerMode" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SecondsPerLetter" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="StaticSeconds" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="PlaySounds" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowRepeatedWords" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowInstructions" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AwardBonusTime" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllLettersAward" serializeAs="String">
        <value>10</value>
      </setting>
    </Anagrams.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <Anagrams.Properties.Settings>
      <setting name="MinLetterPool" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="MaxLetterPool" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MinStaticSeconds" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MaxStaticSeconds" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="MinSecondsPerLetter" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="MaxSecondsPerLetter" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MinBonusTime" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MaxBonusTime" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="MinBonusWords" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="MaxBonusWords" serializeAs="String">
        <value>100</value>
      </setting>
    </Anagrams.Properties.Settings>
  </applicationSettings>
</configuration>